{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- For IE8+ : https://www.modern.ie/en-us/performance/how-to-use-x-ua-compatible -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta charset="utf-8">   <!--https://developers.google.com/speed/docs/best-practices/rendering#SpecifyCharsetEarly -->
  <meta name="description" content="{% block desctiption %}{% endblock %}">
  <meta name="author" content="{% block author %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Form mobile: -->

  {% include 'vue.header.html' %}
  {% block style %}
  {% endblock %}

  <!--[if lt IE 9]>
  <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {# Favicon http://qiita.com/ayumisuzuki/items/5c976dc02a9aec906bf1 #}
  {% block favicon %}
    <link rel="icon" type="image/png" href="{% static 'app/html5_2x.png' %}" sizes="60x60">
  {% endblock %}

  <!-- For iOS/Android
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="196x196" href="">
  <link rel="apple-touch-icon" sizes="152x152" href="">
-->

</head>

<body>
  {% block content %}
  {% endblock %}


  {% include 'vue.script.html' %}
  {% block bottom %}
  {% endblock %}
</body>

</html>
