{% extends 'base.html' %}
{% load staticfiles %}

{% block bottom %}{{ block.super }}
<script type="text/javascript" src="{% static 'vue/dist/vue.min.js' %}"></script>
<script type="text/javascript">
// https://jp.vuejs.org/v2/guide/#宣言的レンダリング
Vue.options.delimiters = ['{[{', '}]}'];        // Django テンプレートとバッティングしないように変更
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    enabled: false,
    todos: [
     { text: 'Learn JavaScript' },
     { text: 'Learn Vue' },
     { text: 'Build something awesome' }
   ]
  }
})
</script>
{% endblock %}

{% block content %}
<div id="app">
  {[{ message }]}

  {# https://jp.vuejs.org/v2/guide/conditional.html #}
  <span v-bind:title="message" v-if="enabled">
   Hover your mouse over me for a few seconds
   to see my dynamically bound title!
  </span>
  <span v-bind:title="message" v-else>
    <a href="#">Login</a>
  </span>

  {# https://jp.vuejs.org/v2/guide/list.html #}
  <ol>
   <li v-for="todo in todos"> {[{ todo.text }]} </li>
  </ol>

</div>
{% endblock %}
